<h2>LIST CONTACT</h2>
<ul>
{{#each model as |contact|}}
    <li>
        {{#link-to 'contact' contact.id}}
            {{contact.firstname}}
        {{/link-to}}
        <button onclick={{action "deleteContact" contact}}>Delete</button>
    </li>
{{/each}}
</ul>
{{outlet}}